*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
/*-----------DMMMsuLANGMALAKAS---------*/
.DMMMSU-wrapper{
    height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(DMMMSU\ background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
  color: white;

}
.headerr{
    margin-top: 30px;
    font-size: 60px;
}
.header {
	min-height: 130vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(BACKGROUND\ 1.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}
nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;

}
nav img {
	width: 170px;
}
.nav-links{
	flex: 1;
	text-align: right;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: realative;
}
.nav-links ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 15px;
}
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #3498DB;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.nav-links ul li:hover::after{
	width: 100%;
}
.text-box{
	width: 90;
	color: #fff;
	position: absolute;
	top: 17%;
	left: 11%;
	transform: translate(-50,-50%);
	text-align: center;

}
.text-box h1{
	font-size: 50px;
}
.text-box p{
	margin: 10px 0 40px;
	font-size: 18px;
	Color: #fff;
}

.carousel-wrapper {
  height: 500px;
  position: relative;
  width: 800px;
  display: block;
  margin: 400px auto ;
  border: 10px solid white;
}

.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.arrow{
  border: solid white;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 12px;
}
.arrow-prev {
  left: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);

}
.arrow-next {
  right: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

[id^= "item"] {
  display: none;
}
.item-1 {
  z-index: 3;
  opacity: 1;
  background: url("images/image1.jpg");
  background-size: cover;
}
.item-2 {
  background: url("images/image6.jpg");
  background-size: cover;
}
.item-3 {
  background: url("images/building.png");
  background-size: cover;
}

*:target ~ .item-1{
  opacity: 0;
}
#item-1:target ~ .item-1 {
  opacity: 1;

}
#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
}
.hero-btn{
  position: relative;
  left: 50%;
  bottom: -550px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	cursor: pointer;

}
.hero-btn:hover{
	border: 1px solid #3498DB;
	background: #3498DB;
	transition: 1s;

}
.vision-mission{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 20px;

}
.row {
	margin: 3%;
	display: flex;
	justify-content: space-around;
}
.col {
	flex-basis: 40%;
	background: #dcdefc;
	border-radius: 20px;
	margin-bottom: 5%;
	padding: 25px 10px;
	box-sizing: border-box;
	font-size: 17px;

}
.inner-footer {
	margin-top: 20px;
	padding: 0px;
	background-color: #1A5276;
}
.social-links {
	display: flex;
	width: 200px;
	height: 40px;
	margin: auto;
	
}
.social-links ul {
	display: flex;
}
.social-items {
	list-style: none;	
}
.social-items a{
	padding: 10px 20px;
	font-size: 30px;
	color: whitesmoke;

}
.social-items a:hover{
	color: #262633;

}
.outer-footer{
	padding: 10px;
	text-align: center;
	color: white;
	font-size: 13px;
	background-color: #1A5276;
}
.visit-us{
	text-align: center;
	padding: 10px 20px;
	font-size: 20px;
  color: #fff;
}
/*----------- ABOUT US PAGE -----------*/
.sub-header{
	height: 60vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(images/abimage1.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
  color: white;

}
.sub-header h1{
	margin-top: 30px;
	font-size: 60px;
}
.about-us {
	margin: 5%;
	display: flex;
	justify-content: space-around;
}
.history-lucst {
	flex-basis: 100%;
	background: #fff;
	border-radius: 20px;
	margin-bottom: 0%;
	margin-top: -4%;
	padding: 10px 10px;
	box-sizing: content-box;
	align-content: justify;

}
 .ab-us {
 	font-family: 'Poppins', monospace;
 	font-size: 100px;

 }
 h2 {
 	margin-top: 30px;
 	text-align: center;
 	font-family: 'Poppins', monospace;
 	font-size: 80px;
 	color: #262633;
 	text-shadow: 2px 2px #004AFF;
 }
 h4 {
 	margin-top: 30px;
 	text-align: center;
 	font-family: 'Poppins', monospace;
 	font-size: 40px;
 	color: #262633;
 	text-shadow: 2px 2px #004AFF;
 }

 

 p img {
 	width: 400px;
 	height: 550px;
 	margin-top: 5px;
 	align-items: left;
 	float: right;
 	margin-left: 10px;
 	margin-bottom: 5px;
 	border: solid, slateblue 5px;
 	padding: 2px;
 }
 
 h3 {
 	margin-top: 20px;
 	margin-bottom: 40px;
 	text-align: center;
 	font-family: 'Poppins', monospace;
 	font-size: 80px;
 	color: #262633;
 	text-shadow: 2px 2px #004AFF;
 }
 .vm img{
 	border: 15px solid #1A5276;
 	background-color: #1A5276;
 	margin-bottom: 50px;

}
 .map{
 	width: 100%;
 	height: 100vh;
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	flex-direction: column;
 	background: #dcdefc;
 	background-size: auto;


 }
 iframe {
 	width: 80%;
 	height: 500px;
 	margin-bottom: 40px;
 }
/*---------contact us ----------*/
 .contact-us{
 	width: 80%;
 	margin: auto;
}
 .contact-col{
 	flex-basis: 48%;
 	margin-bottom: 30px;
 }
 .contact-col div{
 	display: flex;
 	align-items: center;
 	margin-bottom: 40px;
 }
 .contact-col div .fa-solid{
 	font-size: 28px;
 	color: #3498DB;
 	margin: 10px;
 	margin-right: 30px;
 }
 .contact-col div p{
 	padding: 0;

 }
 .contact-col div h5{
 	font-size: 20px;
 	margin-bottom: 5px;
 	color: #555;
 	font-weight: 400;
 }
 .contact-col input, .contact-col textarea{
 	width: 50%;
 	padding: 15px;
 	margin-bottom: 17px;
 	outline: none;
 	border: 1px solid #ccc;
 }
 /*----------OFFERS--------*/
 
.offers{
	height: 60vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(images/image9.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
  color: white;

}
.offers h1{
	margin-top: 30px;
	font-size: 60px;
}
.facilities {
	padding-left: 180px;
}
 .offers-s{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.offers-s h3{
  padding-top: 5px;
  font-size: 70px;
  color: #a69e02;
}


.row p{
  color: yellows;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
    text-shadow: white 2px, 2px;
}
.offers p{
  color: black;
  padding-bottom: auto;
}

.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  

}
.offers-col{
  flex-basis: 31%;
  background:  #3498DB;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: content-box;
  transition: 0.5s;
}
.offers-col img{
  width: 100%;
  height:40%;
  border-radius:5px 5px 0px 0px;
}
.row-w{
 margin: 3%;
 display: flex;
 justify-content: space-around;
 width: 100%;
}
.row-w h3{
  text-align: center;
  font-weight: 600px;
  margin: 10px 0;
  color:#262633;
  font-size: 40px;

}
.offers-col:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.offers-s {box-sizing: border-box}
body {font-family:'Poppins', sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}



/*------------DMMMSULANGMALAKAS------------*/
.DMMMSU-wrapper{
    height: 60vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(images/image7.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
  color: white;

}
 h1{
	margin-top: 30px;
	font-size: 60px;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    box-sizing: border-box;
}

.full-boxer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.comment-box:hover{
    margin-top: 12px;
}

.comment-box{
    width: 500px;
    background: white;
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 3px 3px 25px rgba(0,0,0,0.3);
}

.Profile{
    display: flex;
    align-items: center;
}

.profile-image{
    width: 70px;
    height: 70px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.3);
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.Name{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.Name strong{
    color: black;
    font-size: 18px;
}

.Name span{
    color: gray;
    margin-top: 2px;
}

.comment p{
    color: black;
}.container{
    min-height: 100vh;
    background: #08071d;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("bg.png") no-repeat center center/cover;
}

.container form{
    width: 670px;
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
}

.container form h1{
    color: #3498DB;
    font-weight: 500;
    margin-top: 20px;
    width: 500px;
    text-align: center;
}

.container form input{
    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #fff;
}

.container form input::placeholder{
    color: #ddd;
}

.container form #lastName,
.container form #mobile{
    margin-left: 20px;
}

.container form h4{
    color: #3498DB;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}

.container form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #3498DB;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 600px;
    max-width: 600px;
    min-height: 80px;
    max-height: 80px;
}

textarea::-webkit-scrollbar{
    width: 1em;
}

textarea::-webkit-scrollbar-thumb{
    background-color: rgba(194,194,194,0.713);
}

.container form #button{
    border: none;
    background: #3498DB;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #333;
    width: 100px;
    padding: 0;
    margin-right: 500px;
    margin-bottom: 30px;
    transition: 0.3s;
}

.container form #button:hover{
    opacity: 0.7;
}
.blog{
	text-align: center;
  background: #bdd6fc;
  margin-right: 10%;
  margin-left: 10%;
	display: flex;
	justify-content: space-around;
	border: solid;
}
/*-----------NEWS AND EVENTS -------------*/
.News{
	height: 60vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(images/news.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
  color: white;

}
.News h1{
	margin-top: 30px;
	font-size: 60px;
}